server:
  port: 30000
spring:
  application:
    name: spring-boot-grpc-client

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://192.168.148.32:8761/eureka/
grpc:
  client:
    spring-boot-grpc-server:
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext